@model WebBanHangMyPham.Models.ThongTinLoaiSanPham

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-info">Delete loại sản phẩm</h2>
<form method="post" asp-action="Delete">
    <div class="p-4 border rounded">
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="TenLoaiSanPham"></label>
            </div>
            <div class="col-5">
                <input asp-for="TenLoaiSanPham" readonly class="form-control" />
            </div>
        </div>
        
        <div class="form-group row">
            <div class="col-5 offset-2">
                <partial name="_DeleteAndBackToListButton" model="@Model.Id" />
            </div>
        </div>
    </div>
    <br />
</form>

